{% extends 'base.html.twig' %}

{% block title %}Liste des techniques{% endblock %}

{% block body %}
    <h1>Liste des techniques</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
        {% for technical in technicals %}
            <tr>
                <td>{{ technical.id }}</td>
                <td>{{ technical.name }}</td>
                <td>
                    <a href="{{ path('app_technical_edit', {'id': technical.id}) }}">edit</a>
                </td>
                <td>
                     {{ include('technical/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun ingrédient trouvé! Vous pouvez en ajouter</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_technical_new') }}">Ajouter une technique</a>
{% endblock %}
