{% extends 'base.html.twig' %}

{% block propositionCocktailActive %}active{% endblock %}


{% block body %}

	{% include "fragments/_flash_message.html.twig" %}

	<div class="container-dynamic-block">

		<h1 class="display-6  container-dynamic-block-title">Les propositions de cocktails
		</h1>
		<div class="container-dynamic-block-group">

			{% for cocktail in cocktails %}
				<div class="container-dynamic-block-group-item">
					<a href="{{ path('app_cocktail_proposition_show', {id:cocktail.id})}}">
						<img class="picture-cocktail-small  rounded-circle" src="{{cocktail.picture}}" alt="{{cocktail.name|capitalize}}">
					</a>
					<div class="container-dynamic-block-group-item-properties">
						<div class="container-dynamic-block-group-item-properties-name mb-2">
							{{cocktail.name|capitalize}}
						</div>
						<div class="mb-2 container-dynamic-block-group-item-properties">
							Alcool :
							{{cocktail.isAlcool? 'oui' : 'non'}}
						</div>

						{% if cocktail.isAlcool == 1 %}
							<div class="mb-2 container-dynamic-block-group-item-properties">
								Difficulté : intermédiaire
							</div>
						{% elseif cocktail.isAlcool == 2 %}
						{% else %}
							<div class="mb-2 container-dynamic-block-group-item-properties">
								Difficulté : difficile
							</div>
						{% endif %}
						<div class="mb-2 container-dynamic-block-group-item-properties">
							Note :
							{{cocktail.rating}}
						</div>
						<div class="icon-container d-flex">
							<a href="{{ path('app_cocktail_proposition_show', {id:cocktail.id})}}">
								<i class="bi bi-eye-fill me-2 icon icon-eye-validation"></i>
							</a>
						</div>

					</div>
				</div>
			{% endfor %}
		</div>
		{# render the pagination #}
		<div class="navigation d-flex justify-content-center">
			{{knp_pagination_render(cocktails)}}
		</div>
	</div>
{% endblock %}
