<html lang="fr">

	<head>
		<title>
			Admin - Mojit'o</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="DashboardKit is modern yet powerful Bootstrap 5 Admin Template comes with thousands of UI components &amp; 180+ pages.">
		<meta name="keywords" content="DashboardKit, Dashboard Kit, Dashboard UI Kit, Bootstrap 5, Admin Template, Admin Dashboard, CRM, CMS, Free Bootstrap Admin Template">
		<meta
		name="author" content="DashboardKit">

		<!-- Favicon icon -->
		<link
		rel="icon" href="#" type="image/x-icon">

		<!-- Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link
		href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,100&family=Lexend:wght@200;400&display=swap" rel="stylesheet">


		<!-- Bootstrap icons -->
		<link
		rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

		<!--css -->
		<link rel="stylesheet" href="{{asset('css/styles.css')}}">
	</head>

	<body>
		<div class="container-fluid p-0">

			{% if is_granted("IS_AUTHENTICATED_FULLY") %}

				<nav class="navbar navbar-expand-xl">
					<div class="container-fluid">
						<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
							<ul class="navbar-nav me-auto mb-2 mb-lg-0">
								<li class="nav-item">
									<a class="nav-link {% block cocktailActive %}{% endblock %}" aria-current="page" href="{{path ('app_cocktail_index')}}">Cocktails</a>
								</li>
								<li class="nav-item">
									<a class="nav-link {% block ingredientActive %}{% endblock %}" href="{{ path('app_ingredient_index')}}">Ingrédients</a>
								</li>
								<li class="nav-item">
									<a class="nav-link {% block typeIngredientActive %}{% endblock %}" href="{{ path('app_typeingredient_index')}}">Type d'ingrédients</a>
								</li>
								<li class="nav-item">
									<a class="nav-link {% block categoryActive %}{% endblock %}" href="{{ path('app_category_index')}}">Catégories</a>
								</li>
								<li class="nav-item">
									<a class="nav-link {% block technicalActive %}{% endblock %}" href="{{ path('app_technical_index')}}">Techniques</a>
								</li>
								<li class="nav-item">
									<a class="nav-link {% block unitActive %}{% endblock %}" href="{{path ('app_unit_index')}}">Unités</a>
								</li>
								<li class="nav-item">
									<a class="nav-link {% block glassActive %}{% endblock %}" href="{{path ('app_glass_index')}}">Verres</a>
								</li>
								<li class="nav-item">
									<a class="nav-link {% block iceActive %}{% endblock %}" href="{{path ('app_ice_index')}}">Glaçons</a>
								</li>
								<li class="nav-item">
									<a class="nav-link {% block userActive %}{% endblock %}" href="{{path ('app_user_index')}}">
										Membres</a>
								</li>
								<li class="nav-item">
									<a class="nav-link {% block commentActive %}{% endblock %}" href="{{path ('app_comment_index')}}">
										Commentaires</a>
								</li>
								<li class="nav-item">
									<a class="nav-link {% block propositionCocktailActive %}{% endblock %}" href="{{path ('app_cocktail_proposition_index')}}">
										Les propositions</a>
								</li>
							</ul>
							<div>
								<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
									<li class="nav-item dropdown">
										<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
											<span>Bonjour
												{% if app.user.firstname %}
													{{app.user.firstname}}
											{% else %}
												{{app.user.pseudonym}}</span>
												{% endif %}
											<i class="bi bi-person-square"></i>
										</a>
										<ul class="dropdown-menu">
											<li>
												<a class="dropdown-item" href="#">Bientôt ...</a>
											</li>
											<li>
												<hr class="dropdown-divider">
											</li>
											<li>
												<a class="dropdown-item" href="{{path ('app_security_logout')}}">Déconnexion</a>
											</li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</nav>
			{% endif %}
			<div class="container-fluid d-flex  justify-content-end"></div>
		</div>
		{% block body %}{% endblock %}


		<footer class="footer">
			<p class="footer-content">
				Espace Admin | Mojit'o |
				<time datetime="2023">{{ 'now' | date('Y') }}</time>
			</p>
		</footer>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
		<script src="{{asset('js/form.js')}}"></script>
	</body>
</html>
